<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>
<p>
  <strong>Section No:</strong>
  <%= @section.section_no %>
</p>
<p>
  <strong>Content:</strong>
  <%= @section.content %>
</p>
<%= link_to 'Back to Chapter', chapter_path(@section.chapter_id) %>